In [1]:
#數字前不可以加0
>>> 05

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (702627708.py, line 2)

In [3]:
#正整數
>>> 123
>>> +123

123

In [4]:
#負整數
>>> -123

-123

In [9]:
#整數運算
>>> 5 + 9 
>>> 100 - 7 
>>> 4 - 10

-6

In [2]:
#多個數值運算
>>> 5 + 9 + 3
>>> 4 + 3 - 2 - 1 + 6

10

In [6]:
#乘法運算
>>> 6 * 7
>>> 7 * 6
>>> 6 * 7 * 2 * 3

252

In [7]:
#浮點數除法
>>> 9 // 5

1

In [8]:
#除數不可以為零
>>> 5 / 0

ZeroDivisionError: division by zero

In [9]:
#變數可以運算
>>> a = 95 
>>> a

95

In [10]:
>>> a - 3

92

In [11]:
#將變數自已的內容減3   
>>> a = a - 3 
>>> a

92

In [1]:
>>> a = 95 
>>> temp = a - 3 
>>> a = temp

In [20]:
#上面敘述式，可以使用下面這行替代
>>> a = a - 3

In [21]:
#餘數
>>> 9 % 5

4

In [22]:
>>> divmod (9,5)

(1, 4)

In [23]:
>>> 9 // 5

1

In [24]:
>>> 9 % 5

4

In [5]:
#優先順序由上而下
>>> 2 + 3 * 4 
>>> ( 2 + 3 ) * 4
>>> 2 * (1 + 2) ** 2 - 2 ** 2 * 2

10

In [12]:
#10進位
>>> 10

10

In [13]:
#2進位
>>> 0b10

2

In [14]:
#8進位
>>> 0o10

8

In [15]:
#16進位
>>> 0x10

16

In [17]:
#類型轉換
>>> int(True)
>>> int(False)

0

In [18]:
>>> int(98.6)

98

In [19]:
>>> int(1.0e4)

10000

In [20]:
>>> int('99')

99

In [21]:
>>> int('-23')

-23

In [22]:
>>> int('+12')

12

In [23]:
>>> int(12345)

12345

In [24]:
>>> int('99 bottles of beer on the wall')

ValueError: invalid literal for int() with base 10: '99 bottles of beer on the wall'

In [25]:
>>> int('98.6')

ValueError: invalid literal for int() with base 10: '98.6'

In [99]:
>>> int(8.6)

8

In [26]:
>>> 4 + 7.0

11.0

In [27]:
True + 2

3

In [28]:
False + 5.0

5.0

In [29]:
#int的範圍
>>>
>>> googol = 10 ** 100
>>> googol

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [30]:
>>> googol * googol

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [32]:
#float浮點數
>>> float(True)

1.0

In [33]:
>>> float(False)

0.0

In [34]:
>>> float(98)

98.0

In [35]:
>>> float('99')

99.0

In [36]:
>>> float('98.6')

98.6

In [37]:
>>> float('-1.5')

-1.5

In [38]:
>>> float('1.0e4')

10000.0

In [39]:
>>> 'Snap'

'Snap'

In [40]:
>>> "'Nay,' said the naysayer."

"'Nay,' said the naysayer."

In [41]:
>>> 'The rare double quote in captivity: ".'

'The rare double quote in captivity: ".'

In [42]:
>>> 'A "two by four" is actually 1 1⁄2" × 3 1⁄2".'

'A "two by four" is actually 1 1⁄2" × 3 1⁄2".'

In [43]:
>>> "'There's the man that shot my paw!' cried the limping hound." "'There's the man that shot my paw!' cried the limping hound."

"'There's the man that shot my paw!' cried the limping hound.'There's the man that shot my paw!' cried the limping hound."

In [44]:
#多行文字
>>> '''Boom!'''

'Boom!'

In [45]:
>>> """Eek!"""

'Eek!'

In [48]:

#單行文字
>>> poem = "Apple Arcade 推出的最新遊戲《Next Stop Nowhere》，由位於洛杉磯的開發商 Night School Studio 出品。這款遊戲是太空公路之旅的夥伴冒險，其中不同角色間展開了一些精彩的劇情。在銀河系的外圍，每個人和所有事物之間都有充分的空間，Night School 希望這款遊戲可為近來可能感到孤立的玩家提供一些慰藉。"

In [51]:
#單行文字
>>> poem

'Apple Arcade 推出的最新遊戲《Next Stop Nowhere》，由位於洛杉磯的開發商 Night School Studio 出品。這款遊戲是太空公路之旅的夥伴冒險，其中不同角色間展開了一些精彩的劇情。在銀河系的外圍，每個人和所有事物之間都有充分的空間，Night School 希望這款遊戲可為近來可能感到孤立的玩家提供一些慰藉。'

In [55]:
>>> poem2 = '''Apple Arcade 推出的最新遊戲《Next Stop Nowhere》，由位於洛杉磯的開發商 Night School Studio 出品。

這款遊戲是太空公路之旅的夥伴冒險，其中不同角色間展開了一些精彩的劇情。

在銀河系的外圍，每個人和所有事物之間都有充分的空間，Night School 希望這款遊戲可為近來可能感到孤立的玩家提供一些慰藉。 '''

In [56]:
>>> print (poem2)

Apple Arcade 推出的最新遊戲《Next Stop Nowhere》，由位於洛杉磯的開發商 Night School Studio 出品。

這款遊戲是太空公路之旅的夥伴冒險，其中不同角色間展開了一些精彩的劇情。

在銀河系的外圍，每個人和所有事物之間都有充分的空間，Night School 希望這款遊戲可為近來可能感到孤立的玩家提供一些慰藉。

In [57]:
>>> print(99, 'bottles', 'would be enough.')

99 bottles would be enough.

In [58]:
>>> ''

''

In [59]:
""

''

In [60]:
''''''

''

In [61]:
""""""

''

In [62]:
#使用str()轉換為字串型別
>>> str(98.6)

'98.6'

In [63]:
>>> str(1.0e4)

'10000.0'

In [64]:
 str(True)

'True'

In [72]:
#Continue Lines with \
>>> alphabet = ''
>>> alphabet += 'abcdefg'
>>> alphabet += 'hijklmnop'
>>> alphabet += 'qrstuv'
>>> alphabet += 'wxyz'

In [76]:
#連結字串 分行符號
>>> alphabet = 'abcdefg' + \
... 'hijklmnop' + \
... 'qrstuv' + \
... 'wxyz'

In [103]:
alp

'abcdefghijklmnop'

In [100]:
alphabet

'abcdefghijklmnopqrstuvwxyz'

In [97]:
#File "<stdin>", line 1
>>> 1 + 2 +

SyntaxError: invalid syntax (4231019958.py, line 2)

In [87]:
>>> 1 + 2 + \
... 3

6

In [88]:
1 + 3 + \
... 4

8

In [98]:
1 + 3 + \ 
... 4

SyntaxError: unexpected character after line continuation character (1550831684.py, line 1)

In [108]:
#字串使用加法運算
#字串無法自動加數值
bottles = 99
base = ""
base = base + 'current inventory:'
base = base + str(bottles)

In [109]:
>>> games = '遊戲：《鬼靈精大腳怪》\n說明：今天的遊戲更新為玩家開啟了一個全新的探索環境。從城鎮下方的新碼頭出發，乘渡輪前往新的小島，然後乘坐四輪驅動車四處巡遊，或者在衝浪遊戲中盡情衝浪。玩家還可以購買新船進行升級與比賽，或是出海捕捉鹹水魚。這是調皮大腳怪的暑假！\n\n遊戲：《迷你公路》\n說明：《迷你公路》推出了一項新更新，以透過 Fast Forward 模式協助加快道路網絡的建立，使玩家能選擇其遊戲速度。'

In [111]:
print(games)

遊戲：《鬼靈精大腳怪》
說明：今天的遊戲更新為玩家開啟了一個全新的探索環境。從城鎮下方的新碼頭出發，乘渡輪前往新的小島，然後乘坐四輪驅動車四處巡遊，或者在衝浪遊戲中盡情衝浪。玩家還可以購買新船進行升級與比賽，或是出海捕捉鹹水魚。這是調皮大腳怪的暑假！

遊戲：《迷你公路》
說明：《迷你公路》推出了一項新更新，以透過 Fast Forward 模式協助加快道路網絡的建立，使玩家能選擇其遊戲速度。

In [112]:
>>> print('\tabc')

	abc

In [113]:
>>> print('a\tbc')

a	bc

In [114]:
print('ab\tc')

ab	c

In [115]:
print('abc\t')

abc

In [117]:
testimony = "\"I did nothing!\" he said. \"Not that either! Or the other thing.\""

In [118]:
print(testimony)

"I did nothing!" he said. "Not that either! Or the other thing."

In [119]:
fact = "The world's largest rubber duck was 54'2\" by 65'7\" by 105'"

In [120]:
print(fact)

The world's largest rubber duck was 54'2" by 65'7" by 105'

In [121]:
speech = 'Today we honor our friend, the backslash: \\.'

In [122]:
print(speech)

Today we honor our friend, the backslash: \.

In [124]:
# 使用 + 運算子
'Release the kraken! ' + 'At once!'

'Release the kraken! At once!'

In [105]:
a = 'Duck.' 
b = a
c = 'Grey Duck!'

'Duck.Duck.Grey Duck!'

In [106]:
a+b+c

'Duck.Duck.Grey Duck!'

In [129]:
a = input("1a: 3")
b = input("1b: 7")
c = int(input("C: 3"))
d = int(input("d: 6"))
f = a + b
g = c + d
print(f)
print(g)

ValueError: invalid literal for int() with base 10: ''